<!DOCTYPE html>
<html>
<head>
  <title>BookAdmin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>hello monkey</h2>
<%= yield %>
<h2>see you</h2>
</body>
</html>
